<h1>ログインフォーム</h1>
<%= form_with url: user_sessions_path, local: true do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit "ログイン" %>
  </div>
<% end %>